# === Project Root (esp32-weather-epd/) ===

# Backup and Large Files
*.zip
weather-eink_backup*

# Python Virtual Environments
.venv/
.venv*/

# Logs
*.log
logs/

# VS Code
.vscode/

# PlatformIO Specific
platformio/.pio/
platformio/.env
platformio/include/wifi_credentials.h
platformio/include/web_ui_data.h
platformio/logs/

# Environment Variables (contains sensitive WiFi credentials)
.env

# Miscellaneous / Editor swap files
*.swp
platformio/.gitignore

# Bundler
.bundle/
